<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University App</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body onload="populateFormFields()">

    <header>
        <p class="name">University Services <i class="fa fa-university" style="font-size:24px"></i></p>
        <nav class="navigation_bar">
            <a href="/index">Home</a>
            <a href="/add">Add Student </a>
            <a href="/search">Search </a>
            <a href="/viewall">View All</a>
            <a href="/delete">Delete</a>
        </nav>
    </header>

    <section id="update">
        <div class="container">
            <form id="updateForm">
                <h1>Update Student</h1>
                <input type="text" placeholder="Student ID" id="id" disabled><br>
                <input type="text" placeholder="First Name" id="firstName">
                <span id="fnerror"></span>
                <input type="text" placeholder="Last Name" id="lastName">
                <span id="lnerror"></span>
                <input type="text" placeholder="Gender" id="gender">
                <span id="gendererror"></span>
                <input type="number" placeholder="GPA" id="gpa" step="0.01">
                <span id="gpaerror"></span>
                <input type="number" placeholder="Level" id="level">
                <span id="levelerror"></span>
                <input type="text" placeholder="Address" id="address">
                <span id="adderror"></span>
                <button type="submit" class="btn">Update Student</button>
            </form>
        </div>
    </section>
    <script src="update.js"></script>
</body>

</html>